@import "../../styles/patterns.module.scss";

.login {
  .subtitle {
    max-width: 380px;
    font-size: 22px;
  }
  .singUpLink {
    margin-top: 40px;
    max-width: 480px;
    p {
      font-weight: 500;
      font-size: 20px;
      line-height: 31px;
      letter-spacing: 0.0607778px;
      color: #fff;
    }
    a {
      color: #1ea8f6;
      font-weight: 500;
      margin-left: 10px;
      cursor: pointer;
      transition: all 0.4s;
      &:hover {
        color: #57bafc;
      }
    }
  }
  // .error {
  //   bottom: 314px;
  //   left: 352px;
  // }
}
