@import "../../styles/patterns.module.scss";
@import "../../styles/mixins.scss";

.login {
  .subtitle {
    max-width: 380px;
    font-size: 22px;
  }

  .singUpLink {
    margin-top: 40px;
    max-width: 480px;

    p {
      font-weight: 500;
      font-size: 20px;
      line-height: 31px;
      max-width: 440px;
      letter-spacing: 0.0607778px;
      color: #fff;
    }

    a {
      color: #1ea8f6;
      font-weight: 500;
      margin-left: 10px;
      cursor: pointer;
      transition: all 0.4s;
      display: inline-block;

      &:hover {
        color: #57bafc;
      }
    }
  }

  .imageLogin {
    position: relative;
    max-width: 499px;
    max-height: 575px;

    img {
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 200px;
      left: 50px;
      max-width: 400px;
      max-height: 400px;
      background: #5f627e;
      border-radius: 50%;
      filter: blur(199px);
      z-index: -1;
    }
  }

  @include responsive(1020px) {
    flex-direction: column;
    gap: 50px;
  }

  @include responsive(600px) {
    margin-top: 0px;
    .title {
      font-size: 26px;
    }

    .subtitle {
      font-size: 20px;
      max-width: 340px;
    }

    .singUpLink {
      p {
        font-size: 16px;
        max-width: 340px;
      }
    }
  }

  @include responsive(380px) {
    .singUpLink {
      p {
        line-height: 24px;
      }

      a {
        margin-left: 0px;
      }
    }
  }

}
