@import "../../styles/patterns.module.scss";

.postDetail {
  background-color: #fff;
  width: 897px;
  margin: 0 auto;
  padding-inline: 50px;
  border-radius: 18px;
  padding-block: 45px;
  margin-block: 80px;
  img {
    width: 100%;
    max-height: 800px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }
  .topPost {
    .userInfoPost {
      display: flex;
      align-items: center;
      gap: 14px;
      .userNamePost {
        background: #e9e2f8;
        border-radius: 9px;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        padding: 2px 8px;
        color: #9a5de7;
      }

      .userDatePost {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        color: #696778;
      }
      .userDateDetails {
        color: #9a5de7;
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        padding: 2px 8px;
        &:hover ~ .userDateHoursPost {
          opacity: 1;
        }
      }
      .userDateHoursPost {
        transition: all 0.3s ease;
        opacity: 0;
        color: #9a5de7;
        background: #e9e2f8;
        border-radius: 9px;
        font-weight: 600;
        font-size: 14px;
        padding: 2px 8px;
      }
    }
    h2 {
      color: #111f33;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      margin-top: 20px;
      margin-bottom: 17px;
    }
  }
  .contentPost {
    p {
      // padding-inline: 30px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #5a5a5a;
      margin-bottom: 21px;
    }
  }
  .footerPost {
    display: flex;
    margin-top: 28px;
    justify-content: space-between;
    .tagsPost {
      display: flex;
      align-items: center;
      gap: 30px;
      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: #000000;
      }
      .tagContentPost {
        display: flex;
        gap: 16px;
        span {
          background: #e9e2f8;
          border-radius: 4px;
          padding: 5px 10px;
          font-size: 16px;
          line-height: 20px;
          color: #9a5de7;
        }
      }
    }
  }
}
