.btn {
  background-color: #0f9af7;
  box-shadow: 0px 0px 8px #0f9af7b0;
  border-radius: 10px;
  padding: 17px 42px;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
  color: #ffffff;
  transition: all 0.5s ease;
  &:hover {
    filter: brightness(1.1);
  }
  &.view {
    border-radius: 5px;
    padding: 4px 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    box-shadow: none;
  }
}
button:disabled {
  background-color: #717374;
  box-shadow: 0px 0px 11px #717374;
  cursor: initial;
}

input {
  background: #ffffff;
  border: 2px solid #b5bfc2;
  font-weight: 400;
  font-size: 16px;
  color: #5a5a5a;
  line-height: 15px;
  box-shadow: 0px 0px 11px rgba(181, 191, 194, 0.25);
  border-radius: 10px;
  width: 378px;
  height: 48px;
}
textarea {
  background: #ffffff;
  border: 2px solid #b5bfc2;
  box-shadow: 0px 0px 7px rgba(181, 191, 194, 0.25);
  border-radius: 10px;
  padding: 20px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #5a5a5a;
  font-family: "Be Vietnam Pro";
  &::placeholder {
    font-family: "Be Vietnam Pro";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5a5a5a;
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 12px 17px;
  height: 44px;
  background: #da1f1f;
  border-radius: 6px;
  color: #ffffff;
  filter: drop-shadow(0px 0px 9px #ea4444);
  margin-top: 30px;
  animation: slide 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes slide {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
  }
}

.signUp,
.login,
.createPost,
.editPost {
  margin-top: 70px;
  margin-bottom: 100px;
  margin-inline: auto;
  padding-inline: 20px;
  display: flex;
  align-items: center;
  max-width: 1280px;
  justify-content: space-between;
  width: 100%;
  .title {
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    color: #212121;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  .subtitle {
    max-width: 505px;
    font-weight: 500;
    margin-bottom: 35px;
    font-size: 22px;
    line-height: 32px;
    color: #757879;
  }
  .formSignUp,
  .formLogin,
  .formCreatePost,
  .formEditPost {
    max-width: 537px;
    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      // gap: 30px;
      label {
        display: flex;
        flex-direction: column;
        span {
          margin-bottom: 9px;
          font-weight: 500;
          font-size: 18px;
          line-height: 15px;
        }
        input {
          padding: 17px 20px;
          line-height: 15px;
          &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            // color: #5a5a5a;
            font-family: "Be Vietnam Pro";
            color: #5a5a5a;
          }
        }
        & + label {
          margin-top: 30px;
        }
      }
      button.btn {
        margin-top: 35px;
      }
    }
  }
}
