.btn {
  background-color: #7579e7;
  box-shadow: 0px 0px 8px #7579e7;
  border-radius: 10px;
  padding: 16px 42px;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
  color: #ffffff;
  transition: all 0.5s ease;

  &:hover {
    filter: brightness(1.1);
  }

  &.view {
    border-radius: 5px;
    padding: 5px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    box-shadow: none;
  }
}

button:disabled {
  background-color: #717374;
  box-shadow: 0px 0px 11px #717374;
  cursor: initial;
}

input {
  background: #ffffff;
  font-weight: 400;
  font-size: 16px;
  color: #5a5a5a;
  line-height: 15px;
  border: 1px solid #d5d5d5;
  border-radius: 8px;
  border-radius: 10px;
  max-width: 378px;
  width: 100%;
  height: 48px;
}

textarea {
  background: #ffffff;
  border: 1px solid #d5d5d5;
  box-shadow: 0px 0px 7px rgba(181, 191, 194, 0.25);
  border-radius: 10px;
  padding: 20px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #5a5a5a;
  font-family: "Be Vietnam Pro";

  &::placeholder {
    font-family: "Be Vietnam Pro";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.5);
  }

  &:focus-visible {
    outline-color: #7579e7;
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 12px 17px;
  height: 44px;
  background: #e14747;
  border-radius: 6px;
  color: #ffffff;
  filter: drop-shadow(0px 0px 3px #ea4444);
  margin-top: 30px;
  animation: slide 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes slide {
  0% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0px);
  }
}

.signUp,
.login,
.createPost,
.editPost {
  margin-block: 20px;
  margin-inline: auto;
  padding-inline: 20px;
  display: flex;
  align-items: center;
  max-width: 1280px;
  justify-content: space-between;
  width: 100%;

  .title {
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  .subtitle {
    max-width: 505px;
    font-weight: 500;
    margin-bottom: 35px;
    font-size: 22px;
    line-height: 32px;
    color: #dbdbdb;
  }

  .formSignUp,
  .formLogin,
  .formCreatePost,
  .formEditPost {
    max-width: 537px;

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      label {
        display: flex;
        flex-direction: column;
        color: white;
        width: 100%;

        span {
          margin-bottom: 9px;
          font-weight: 500;
          font-size: 16px;
          line-height: 15px;
        }

        input {
          padding: 17px 20px;
          line-height: 15px;
          width: 100%;
          max-width: 500px;

          &::placeholder {
            font-weight: 500;
            font-size: 15px;
            line-height: 150%;
            font-family: "Be Vietnam Pro";
            color: rgba(0, 0, 0, 0.5);
          }

          &:focus-visible {
            outline-color: #7579e7;
          }
        }

        & + label {
          margin-top: 30px;
        }
      }

      button.btn {
        margin-top: 35px;

        &:focus-visible {
          outline-color: #7579e7;
        }
      }
    }
  }
}

@keyframes skeleton {
  to {
    opacity: 0.5;
  }
}

.skeleton {
  animation: skeleton 1s linear infinite alternate;
}
