@import "../../styles/patterns.module.scss";
@import "../../styles/mixins.scss";

.postCard {
  background-color: #fff;
  max-width: 601px;
  width: 100%;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding-block: 26px;
  margin-block: 40px;

  img {
    width: 100%;
    max-height: 800px;
    object-fit: cover;
    object-position: center;
  }

  .topPost {
    padding-inline: 30px;

    .userInfoPost {
      display: flex;
      align-items: center;
      gap: 14px;
      flex-wrap: wrap;

      .userNamePost {
        background: #e9e2f8;
        border-radius: 9px;
        font-weight: 600;
        font-size: 14px;
        padding: 1px 8px;
        color: #9a5de7;
      }

      .userDatePost {
        font-weight: 600;
        font-size: 12px;
        line-height: 13px;
        color: #696778;
      }

      .userDateDetails {
        color: #9a5de7;
        font-weight: 600;
        font-size: 14px;

        &:hover~.userDateHoursPost {
          display: block;
        }
      }

      .userDateHoursPost {
        display: none;
        color: #9a5de7;
        background: #e9e2f8;
        border-radius: 9px;
        font-weight: 600;
        font-size: 12px;
        padding: 0px 5px;
      }
    }

    h2 {
      color: #111f33;
      font-weight: 700;
      font-size: 26px;
      line-height: 33px;
      margin-top: 12px;
      margin-bottom: 17px;
    }
  }

  .contentPost {
    p {
      padding-inline: 30px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #5a5a5a;
      margin-bottom: 21px;
    }
  }

  .footerPost {
    padding-inline: 30px;
    display: flex;
    margin-top: 28px;
    justify-content: space-between;

    .tagsPost {
      display: flex;
      align-items: center;
      gap: 30px;

      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        color: #000000;
      }

      .tagContentPost {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;

        span {
          background: #e9e2f8;
          border-radius: 4px;
          padding: 5px 10px;
          font-size: 16px;
          line-height: 20px;
          color: #9a5de7;
        }
      }
    }
  }

  @include responsive(600px) {
    .topPost {
      h2 {
        font-size: 22px;
        margin-bottom: 10px;
      }

      .userInfoPost {
        .userDatePost {
          font-size: 10px;
        }

        .userNamePost {
          font-size: 12px;
        }

        .userDateDetails {
          font-size: 12px;
        }
      }
    }

    .contentPost {


      p {
        font-size: 14px;
      }
    }

    .footerPost {

      .tagsPost {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
      }

      a {
        align-self: flex-end;
      }
    }
  }
}