footer {
  background: #212121;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  p {
    padding-left: 82px;
    color: rgba(255, 255, 255, 0.72);
  }
}
