footer {
  background: #343541;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  .footerContent {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    p {
      padding-right: 20px;
      color: white;
      text-align: right;
    }
  }
}
