@import "../../styles/patterns.module.scss";

.imageSignUp {
  position: relative;
  .iconBlue {
    width: 91px;
    height: 91px;
    background: rgba(196, 234, 255, 0.66);
    backdrop-filter: blur(11px);
    border-radius: 50%;
    position: absolute;
    left: -55px;
    bottom: 122px;
    img {
      position: absolute;
      left: 20%;
      right: 35.25%;
      top: 28%;
      bottom: 64.3%;
    }
  }
  .iconYellow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 104px;
    height: 104px;
    background: rgba(18, 18, 14, 0.24);
    backdrop-filter: blur(3px);
    border-radius: 50%;
    position: absolute;
    bottom: -32px;
    right: -26px;
  }
}
