@import "../../styles/patterns.module.scss";
@import "../../styles/mixins.scss";
.createPost {
  justify-content: center;
  max-width: 550px;
  .subtitle {
    max-width: 300px;
  }
  form {
    max-width: 495px;
    width: 100%;
    label {
      width: 100%;
      input {
        width: 100%;
      }
      textarea {
        width: 100%;
        resize: none;
      }
    }
    .btn {
      align-self: flex-end;
    }
  }
  @include responsive(600px) {
    margin-top: 0px;
    .title {
      font-size: 28px;
    }
    .subtitle {
      margin-bottom: 35px;
      font-size: 20px;
      line-height: 29px;
    }
  }
}
